@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 16%;
    background: white;
    padding: 6px 14px;
    font-weight: bolder;
}

.sidebar .logo_content .logo{
    color: black;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

#logo_img{
    height: 30px;
}

.logo_content .logo img{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;    
}

.sidebar #btn{
    position: absolute;
    color: #3399ff;
    left: 80%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;

}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a{
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar ul li a:hover{
    color: #3399ff;
    background: wheat;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .profile_content{
    position: absolute;
    color: black;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #99c2ff;
    padding: 5px;
}

.sidebar .logo_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
}

.logo_content .profile .profile_details{
    display: flex;
    align-items: center;
}

.profile .profile_details img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name{
    position: absolute;
    left: 18%;
    bottom: 14px;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
}

.profile #log_out{
    position: absolute;
    left: 85%;
    bottom: 0px;
    line-height: 50px;
}

.main_content{
    position: absolute;
    height: 100%;
    width: 84%; 
    left: 16%;
    background: rgb(240, 237, 237);
}

.main_content .top{
    padding: 10px;
    height: 230px;
    background: #3399ff;
    color: antiquewhite;
}

.main_content .top p{
    font-size: 15px;
    font-weight: bold;
}

.main_content .container{
    
}